<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div *ngIf="!showCount && !showQuiz" class="flex flex-col items-center">
      <p class="text-3xl mt-20">ポケモンAPIアプリ</p>
      <div class="flex justify-center items-center mt-20 font-bold">
        <button
          class="bg-red-500 w-[150px] h-[150px] mr-4"
          (click)="handleToggleCount()"
        >
          カウントアプリSTART
        </button>
        <button
          class="bg-green-500 w-[150px] h-[150px]"
          (click)="handleToggleQuiz()"
        >
          クイズアプリSTART
        </button>
      </div>
    </div>

    <app-count
      *ngIf="showCount"
      [onClick]="handleToggleCount.bind(this)"
    ></app-count>
    <app-quiz
      *ngIf="showQuiz"
      [onClick]="handleToggleQuiz.bind(this)"
    ></app-quiz>
  </body>
</html>
